<main class="l-main glass">
  <!--===== HOME =====-->
  <section class="home bd-grid" id="home">
    <div class="home__data">
      <h1 class="home__title">
        Hola,<br />Soy <span class="home__title-color">{{data.nombre}}</span><br />
        {{data.ocupacion}} <br/>
        Y Ing. De software
      </h1>

      <a href="#" class="button">Contacto</a>
    </div>

    <div class="home__social">
      <a href="#" target="_blank" class="home__social-icon"><i class='bx bxl-facebook-square'></i></a>
      <a href="" class="home__social-icon"><i class='bx bxl-instagram-alt'></i></a>
      <a href="" class="home__social-icon"><i class='bx bxl-linkedin-square'></i></a>
    </div>


    <article class="home__img">
      <img class="box" src="assets/img/h.png" />
      <img class="box two" />
    </article>
  </section>

  <!--===== ABOUT =====-->
  <section class="about section" id="about">
    <h2 class="section-title">Acerca de mí</h2>

    <div class="about__container bd-grid">

      <main class="container">
        <div class="card">
          <div class="front">
            <h1>{{data.nombre}}</h1>
            <p>Tengo 23 <span>años</span></p>
            <p class="price">Web developer</p>
          </div>
          <div class="rigth">
            <h2>Detalles</h2>
            <ul>
              <li>Me gusta pintar</li>
              <li>#952 658 785</li>
              <li>Front End</li>
              <li>Back end</li>
              <li>
                Programar <br />
                es mi pasión
              </li>
            </ul>
            <button>Contactar</button>
          </div>
        </div>
        <div class="img-container">
          <img src="./assets/img/codificacion.png" alt="skate" />
        </div>
      </main>

      <div>
        <h2 class="about__subtitle">Soy {{data.nombre}}-conóceme</h2>
        <p class="about__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta
          possimus facilis consequuntur, at suscipit, cum excepturi
          molestiae officiis consectetur quibusdam maxime ducimus modi quo
          provident ea quos et praesentium dignissimos.
        </p>
      </div>
    </div>
  </section>

  <!--===== SKILLS =====-->
  <section class="skills section" id="skills">
    <h2 class="section-title">Habilidades</h2>

    <div class="skills__container">
      <div class="container">
        <div class="card__container">
          <article class="card__article card__orange">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <i class='bx bxl-html5'></i>
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title">
                Html

              </h2>
            </div>
          </article>
          <article class="card__article">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <i class='bx bxl-css3'></i>
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title">
                Css
              </h2>
            </div>
          </article>
          <article class="card__article card__yellow">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <i class="bx bxl-javascript"></i>
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title">
                JavaScript
              </h2>
            </div>
          </article>
          <article class="card__article">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAO1JREFUSEvtlWEOATEQhd/ehJPgJDgJToKT4CQ4CfmSeVJlEe3uHybZNJl05+vMvGkbdWxNx/HVO2AsaVeQ1UnSStLGMfIMjpIGBQB+BTJsA1wKgz/EzTP4A36wRGj6mY0kMTN7SYeQJvvWsfkmnncqQs/oOrdlOFiZGz5gnqOPAQ48j+lkyjk5ZrilzUE8pFUAhgJcJGDgVQCceCspLRegagCXD9AkeuUSVsmAG3MWFNRGJqgIXxWAb0yrjAaTAWsrIFVJKk3rfZoohcD4z7HR9X/ZA9Jj47dvAlDUBfi+2y0TW+zu/U0uPnEe4Aq+/0AZVEB+QQAAAABJRU5ErkJggg==" />
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title">
                TypeScript
              </h2>
            </div>
          </article>
          <article class="card__article">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAelJREFUSEu1lKFOnFEQhb9NKipIWoGoKxLHEzSFhKSSCgwK0AiCQBJAIdDotoonQOAgWCweEiSCRyDf5s5mdrh0S7Z7ze7//3PnnDnn3Dtgxmsw4/70ABaALeAr8NB+/zQiy+W9r61xWX8M3GfSFcAGP4HntsHaO+AR+AIsARK4Bq6ATcA9Nr1ojZ+A3wGSAYL597YpE9kAzjtyyvgzsNu+CSrQbSMwJpGyzAOnpZFsZCmB3hJEedzv2gfmgCMf8gS/mp6Hpcs34GZCGJzwpJEIwO0KIGJmEj3d/LE9CJ4nUfuz5tGPNoX1i70JBHCDk+QlExur72XxQrZ6punhnfX2sX5MInU2KdlMC41oyFbNVm89CyCns/FQngoQKcoeBJMw0I15QptF7iO+PndjKqAy5ZhWgJ7hvltNB3CYnt4EAVB9CBmqXNEjJFFiyY3kqRL57Jjr5Sw4rj74LU5uTa1NbR5rdGX07qJ6HvaANeAA+NA8qFHNaXIifXx1DgI97qNPLZZmWnlkbyM3W5MlCvCQaeUtD+J9NsrRQyL/Cxapsj5OrjXD7P/N5Pq9PkdEK8BYNP83QKRmlP1pAGSuTHkCAfKBm0qiuNJ30t3kRdhl3zsHkzzwe0zhBWdcx07utCb/C4GpJHo3wAtyXW4ZD3tDpAAAAABJRU5ErkJggg==" />
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title">
                PostgreSQL
              </h2>
            </div>
          </article>
          <article class="card__article card__react">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <i class='bx bxl-react'></i>
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title">
                React.js
              </h2>
            </div>
          </article>
          <article class="card__article card__green">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <i class='bx bxl-nodejs'></i>
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title">
                Node.js
              </h2>
            </div>
          </article>
          <article class="card__article">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>

            <div class="card__shape-1">
              <div class="card__shape-2"></div>
              <div class="card__shape-3">
                <i class='bx bxs-bong'></i>
              </div>
            </div>

            <div class="card__data">
              <h2 class="card__title">
                Next.js
              </h2>
            </div>
          </article>


        </div>
      </div>
    </div>
  </section>

  <!--===== WORK =====-->
  <section class="work section" id="work">
    <h2 class="section-title">Proyectos</h2>

    <div class="work__container bd-grid">
      <article class="container">
        <div class="card">
          <div class="imgBx">
            <img src="./assets/img/l1.png" />
          </div>
          <div class="contentBx">
            <h2>Proyecto 1</h2>
            <div class="size">
              <h3>Stack:</h3>
              <span><i class='bx bxl-react'></i></span>
              <span><i class='bx bxl-javascript'></i></span>
              <span><i class='bx bxl-css3'></i></span>
              <span><i class='bx bxl-nodejs'></i></span>
            </div>


            <a>Ver demo</a>



          </div>
        </div>
      </article>
      <article class="container">
        <div class="card">
          <div class="imgBx">
            <img src="./assets/img/l2.png" />
          </div>
          <div class="contentBx">
            <h2>Proyecto 2</h2>
            <div class="size">
              <h3>Stack:</h3>
              <span><i class='bx bxl-react'></i></span>
              <span><i class='bx bxl-javascript'></i></span>
              <span><i class='bx bxl-css3'></i></span>
              <span><i class='bx bxl-nodejs'></i></span>
            </div>


            <a>Ver demo</a>



          </div>
        </div>
      </article>
      <article class="container">
        <div class="card">
          <div class="imgBx">
            <img src="./assets/img/l3.png" />
          </div>
          <div class="contentBx">
            <h2>Proyecto 3</h2>
            <div class="size">
              <h3>Stack:</h3>
              <span><i class='bx bxl-react'></i></span>
              <span><i class='bx bxl-javascript'></i></span>
              <span><i class='bx bxl-css3'></i></span>
              <span><i class='bx bxl-nodejs'></i></span>
            </div>


            <a>Ver demo</a>



          </div>
        </div>
      </article>
      <article class="container">
        <div class="card">
          <div class="imgBx">
            <img src="./assets/img/l4.png" />
          </div>
          <div class="contentBx">
            <h2>Proyecto 4</h2>
            <div class="size">
              <h3>Stack:</h3>
              <span><i class='bx bxl-react'></i></span>
              <span><i class='bx bxl-javascript'></i></span>
              <span><i class='bx bxl-css3'></i></span>
              <span><i class='bx bxl-nodejs'></i></span>
            </div>


            <a>Ver demo</a>



          </div>
        </div>
      </article>
      <article class="container">
        <div class="card">
          <div class="imgBx">
            <img src="./assets/img/l55.jpg" />
          </div>
          <div class="contentBx">
            <h2>Proyecto 5</h2>
            <div class="size">
              <h3>Stack:</h3>
              <span><i class='bx bxl-react'></i></span>
              <span><i class='bx bxl-javascript'></i></span>
              <span><i class='bx bxl-css3'></i></span>
              <span><i class='bx bxl-nodejs'></i></span>
            </div>


            <a>Ver demo</a>



          </div>
        </div>
      </article>
      <article class="container">
        <div class="card">
          <div class="imgBx">
            <img src="./assets/img/l66.jpg" />
          </div>
          <div class="contentBx">
            <h2>Proyecto 6</h2>
            <div class="size">
              <h3>Stack:</h3>
              <span><i class='bx bxl-react'></i></span>
              <span><i class='bx bxl-javascript'></i></span>
              <span><i class='bx bxl-css3'></i></span>
              <span><i class='bx bxl-nodejs'></i></span>
            </div>


            <a>Ver demo</a>



          </div>
        </div>
      </article>



    </div>
  </section>

  <!--===== CONTACT =====-->
  <section class="section newsletter" id="contact">
    <div class="newsletter__container containers">
      <h2 class="section__title">Contacto
      </h2>
      <p class="newsletter__description">
        Puede enviarme correo ó Llamada
      </p>

      <form action="" class="newsletter__form">
        <input type="text" placeholder="codigo369.com@gmail.com" class="newsletter__input" />
        <button class="button">Subscribirse</button>
      </form>
    </div>
  </section>
</main>
